* {
    box-sizing: border-box;
  }
  .s-loader {
    position: relative;
    top: 40%;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-color: #f3f2f2;
    border: 4px solid #f3f2f2;
    border-radius: 50%;
    /*animation: fadeIn-animation 1s linear, slideFromRight-animation 0.5s ease-out;*/
  }
  .s-loader-inner {
    height: 40px;
    width: 40px;
    top: -4px;
    left: -4px;
    position: relative;
    border: 4px solid transparent;
    border-top: 4px solid #008000;
    border-radius: 50%;
    animation: loader-animation 2s cubic-bezier(0.2, 0.82, 0.88, 0.1) normal none infinite;
  }
  .s-full-page-loader {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
  }
  .s-loader-message {
    color: #ffffff;
    position: relative;
    /*animation: fadeIn-animation 1s linear, slideFromLeft-animation 0.5s ease-out;*/
    text-align: center;
    top: 40%;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes loader-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  @keyframes fadeIn-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slideFromLeft-animation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slideFromRight-animation {
    0% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(0%);
    }
  }