.sidenav {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -80%;
    background-color: white;
    overflow-x: hidden;
}

.sidenav a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.slidenav-a { 
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.sidenav a:hover {
    color: #300202;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.slide-nav-handler {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 4%;
    background-color: transparent;
    overflow-y: hidden;
    z-index: 9999;
}

.tmla-mask {
    width:100%;
    left:0;
    background-color:#000;
    opacity:0;
    z-index: 10;
    height:100%;
    position: fixed;
    pointer-events: none;
    top: 0;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

/* .text-center-height {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}  */

.upper-section {
    background: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251));
    height: 150px;
}

span hr {
    margin-bottom: 0.2rem;
}

.menu-label {width:154px; color:#FFFFFF; background-color:#F43B05; float:left; padding:3px; position:absolute; top:50px; left:5px;}

.display-container {
	position: relative;
}

.menu-item:focus {
    background: #a7a7a7;
}