* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

* {
	box-sizing: border-box;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin: 0px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-container {
	margin-left: auto;
	margin-right: auto;
	width: 30px;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.slide-in {
	animation: 0.2s linear 0s 1 slideInFromRight;
	width: 100%;
	height: calc(100% - 55px);
	position: absolute;
	top: 0;
	overflow: hidden;
	margin-top:55px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.btn-bottom {
	position: absolute;
	bottom : 5px;
	width: calc(100% - 5%);
	margin-left: 2.5%;
	left: 0;
}

/* Should be moved out from here ! */
.hamburger-line {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
}

.hamburger-container {
    position: fixed;
    top: 21px;
    left: 21px;
}

.and-toolbar {
    height: 55px;
    width: 100%;
    margin: 0;
    background-color: #3F51B5;
    box-shadow: 0px -2px 20px 1px #888888;
}

/* ================== */
.upper-section-container {
	height: 152px;
	background-color: #2e47d6;
	color: white;
	padding: 15px;
	
	display: flex;
	align-items: flex-end;
}

.upper-section-container > span {
	font-size: 13px;
	line-height: 1.2;
}

.hidden-workarround {
	display: none;
}